.slider {
	min-height: 615px;
	background-color: #e8e8e8;
	background: url(../img/slider-men.jpg) center bottom no-repeat;
}
.slider-flex {
	display: flex;
}
.slider__line {
	margin-top: 224px;
	width: 12px;
	height: 92px;
	background-color: $pink-color;
}
.slider__title {
	padding-left: 12px;
}
.slider__title-text {
	font-weight: 900;
	letter-spacing: 0.025em;
	color: #222222;
}
.slider__title-text-big {
	font-size: 60px;
	padding-top: 170px;
}
.slider__title-text-less {
	margin-block-start: -37px;
	margin-block-end: 0;
	font-size: 40px;
}
.slider__title-text-less-red {
	font-size: 40px;
	color: $pink-color;
}
.category-adaptive{
	display: none;
}
.category {
	margin-top: 62px;
	height: 830px;
}
.category-flex {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.category-flex__left {
	margin-right: 20px;
}
.category-card {
	max-width: 560px;
	position: relative;
	box-sizing:content-box;
	object-fit: fill;
	object-position: center;
	transition: 1s;
}
.category-card:hover {
	box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.16);
}
.category-card-descr {
	position: absolute;
	padding-top: 16px;
	padding-left: 19px;
	padding-right: 20px;
	background-color: #ffffff;
	top: 25px;
}
.category-card-descr__black {
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #222222;
}
.category-card-descr__red {
	font-size: 30px;
	color: $pink-color;
}
.product {
	margin-top: 100px;
}
.product-title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.025em;
	color: #222222;
}
.product-text {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.025em;
	color: #9f9f9f;
}
.product-card,
.you-may-card {
	display: block;
	position: relative;
	transition: 1s;
}
.product-card__img{
	max-width: 263px;
	object-fit: fill;
	object-position: center;
	transition: 1s;
}
.product-top,
.you-may-card-block {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.product-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.product-card:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.product-card:hover .product-card__add {
	display: flex;
}
.product-card:hover .product-card__img {
	filter: brightness(50%);
	object-fit: fill;
}
.product-card__link {
	text-decoration: none;
}
.product-card__descr,
.you-may__descr {
	padding-top: 19px;
	padding-left: 17px;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	color: #222222;
	margin-block-start: 0;
	margin-block-end: 0;
}
.product-card__prise-stars,
.you-may__prise-stars {
	display: flex;
	justify-content: space-between;
	padding: 14px 16px 23px 17px;
}
.product-card__prise,
.you-may__prise {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: $pink-color;
}
.product-card__stars,
.you-may__stars {
	color: #9f9f9f;
	font-size: 15px;
}
.fa-star:hover {
	color: $yellow-color;
}
.product-card__add {
	position: absolute;
	top: 98px;
	display: none;
	justify-content: center;
	width: 100%;
}
.add {
	border: 1px solid #ffffff;
	padding: 8px 12px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
	display: flex;
	align-items: center;
}
.add-flex {
	width: 125px;
	display: flex;
	justify-content: space-between;
	margin-top: -40px;
}
.add__cart {
	padding-right: 8px;
}
.add_margin {
	padding-left: 8px;
}
.add__retweet {
	margin: 8px 9px 8px 9px;
}
.add__heart {
	margin: 8px 9px 8px 9px;
}
.add:hover {
	box-shadow: 0 0 10px #fff;
}
.add-img {
	margin-right: 7px;
}
.product-button__link {
	display: block;
	margin-left: 437px;
	margin-right: 453px;
	margin-top: 79px;
	margin-bottom: 113px;
	padding: 18px 0 19px 24px;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 0.025em;
	color: #ffffff;
	background-color: $pink-color;
	transition: 1s;
}
.product-button__link:hover {
	color: $pink-color;
	background-color: #ffffff;
	border: 1px solid $pink-color;
}
.arrow {
	color: #ffffff;
	padding-left: 8px;
	transition: 1s;
}
.product-button__link:hover .arrow {
	color: $pink-color;
}
.feature-flex {
	display: flex;
	padding-bottom: 66px;
}
.feature-flex__bg {
	width: 75%;
	background-image: url(../img/feature/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s;
}
.feature-flex__bg:hover {
	box-shadow: 5px 0 8px 8px rgba(0, 0, 0, 0.16);
}
.feature-flex__head {
	font-size: 53.7px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #ffffff;
	margin-block-start: 0;
	margin-block-end: 0;
}
.feature-flex__bg-sale {
	padding-top: 146px;
	padding-left: 39px;
}
.feature-flex__bg-red {
	color: $pink-color;
}
.feature-flex__bg-text {
	padding-left: 39px;
	font-size: 32.2px;
}
.feature-flex-box {
	height: 529px;
	width: 37%;
	background-color: #222224;
	padding: 4px;
	padding-bottom: 66px;
}
.feature-flex-box__card {
	display: flex;
	justify-content: space-between;
	height: 37%;
	box-sizing: content-box;
	// overflow-x: auto;
}
.feature-flex-box__img {
	width: 45px;
	height: 32px;
	padding-top: 48px;
	padding-left: 35px;
}
.feature-flex-box__card-descr {
	width: 217px;
}
.feature-flex-box__title {
	padding-top: 30px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #fbfbfb;
	margin-block-start: 0;
	margin-block-end: 0;
}
.feature-flex-box__descr {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.025em;
	color: #fbfbfb;
}
