@media screen and (max-width: 991px) {
	.header, .slider, .category {
		display: none;
	}
	.container{
		max-width: 735px;
		margin: 0 auto;
	}
	.header-adaptive{
		display: flex;
		position: relative;
	}
	.header-adaptive-flex{
		display: flex;
		height: 75px;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		background-color: #222222;
	}
	.header-adaptive-left__logo-search_logo{
		padding-left: 32px;
	}
	.header-adaptive-left__logo-search_search{
		padding-left: 41px;
	}
	.header-adaptive-right__gamburger{
		padding-right: 25px;
	}
	.header-adaptive-right__contact{
		padding-right: 42px;
	}
	.header-adaptive-right__cart{
		padding-right: 42px;
	}
	.slider-adaptive{
		display: flex;
		background-color: #f1e4e6;
	}
	.slider-adaptive-flex{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.slider-adaptive-img{
		width: 45%;
		margin-left: -5%;
		object-fit: cover;
		object-position: right;
	}
	.slider__text{
		display: flex;
		width: 55%;
		margin-left: 4%;
	}
	.slider__line{
		width: 12px;
		height: 92px;	
		margin-top: 53px;
	}
	.slider__title-text-big{
		padding-top: 25px;
		font-weight: 900;
		font-size: 44px;
		line-height: 53px;	
	}
	.slider__title-text-less, .slider__title-text-less-red{
		padding-top: 10px;
		padding-left: 0;
		font-weight: 700;
		font-size: 24px;
		line-height: 28.8px;
	}
	.category-adaptive{
		display: flex;
		flex-direction: column;
	}
	.category-adaptive-top{
		margin-top: 20px;
	}
	.category-adaptive-top-card__link, .category-adaptive-bottom-card__link{
		text-decoration: none;
	}
	.category-adaptive-top-card-flex{
		display: flex;
		justify-content: space-between;
		max-width: 100%;
		object-fit: fill;
		object-position: center;
	}
	.category-adaptive-top-card__img, .category-adaptive-bottom-card__img{
		max-width: 100%;
		position: relative;
		filter: brightness(50%);
	}
	.category-adaptive-top-card-descr{
		position: absolute;
		top: 56%;
    	z-index: 1;
		padding-left: 60px;
	}
	// .category-adaptive-top-card-descr:nth-child(n){
	// 	top: 69% + 41%;
	// }
	.category-adaptive-top-card-descr__black, .category-adaptive-bottom-card-descr__black{
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #FFFFFF;
		text-transform: uppercase;
	}
	.category-adaptive-top-card-descr__red, .category-adaptive-bottom-card-descr__red{
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		color: $pink-color;
	}
	.category-adaptive-bottom-card{
		max-width: 100%;
		object-fit: fill;
		object-position: center;
	}
	.category-adaptive-bottom-card-descr{
		position: absolute;
		top: 75.15%;
		padding-left: 288px;
		z-index: 1;
	}


}
@media screen and (max-width: 575px){
	.container{
		max-width: 459px;
		margin: 0 auto;
	}
	.header-adaptive-right__contact, .header-adaptive-right__cart, .slider-adaptive-img{
		display: none;
	}
	.slider__text{
		min-height: 363px;
		width: 100%;
		margin-left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.slider__line{
		width: 12px;
		height: 61px;
	}
	.slider__title-text-big{
		font-weight: 900;
		font-size: 38px;
		line-height: 45.6px;
		letter-spacing: 0em;
	}
	.slider__title-text-less, .slider__title-text-less-red{
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0em;
	}
	.category-adaptive{
		display: flex;
		flex-direction: column;
	}
	.category-adaptive-top-card-flex{
		display: flex;
		flex-direction: column;
	}
	.category-adaptive-top-card__img, .category-adaptive-bottom-card__img{
		position: relative;
		width: 100%;
	}
	.category-adaptive-top-card-descr{
		position:absolute;
		top: 70.4%;
		left: 27.41%;
	}
	.category-adaptive-bottom-card-descr{
		position:absolute;
		top: 178%;
		padding-left: 27.41%;

	}

}
