@media screen and (max-width: 991px) {
	.header-top, hr, .header-bottom, .slider {
		display: none;
	}
	.container{
		max-width: 735px;
		margin: 0 auto;
	}
	.header-adaptive{
		display: flex;
		position: relative;
	}
	// .header-adaptive-flex:hover .header.header-bottom.header-bottom-menu.header-bottom-menu__list.mega-box{
	// 	display: flex;
	// 	position: absolute;
	// 	left:20px;
	// 	top: 20px;
	// }
	.header-adaptive-flex{
		display: flex;
		position: absolute;
		height: 75px;
		top: -100px;
		left: 0;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		background-color: #222222;
	}
	.header-adaptive-left__logo-search_logo{
		padding-left: 32px;
	}
	.header-adaptive-left__logo-search_search{
		padding-left: 41px;
	}
	.header-adaptive-right__gamburger{
		padding-right: 25px;
	}
	.header-adaptive-right__contact{
		padding-right: 42px;
	}
	.header-adaptive-right__cart{
		padding-right: 42px;
	}
	.slider-adaptive{
		display: flex;
		margin-top: -25px;
		background-color: #f1e4e6;
	}
	.slider-adaptive-flex{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.slider-adaptive-img{
		width: 45%;
		margin-left: -5%;
		object-fit: cover;
		object-position: right;
	}
	.slider__text{
		display: flex;
		width: 55%;
		margin-left: 5%;
	}
	.slider__line{
		width: 12px;
		height: 92px;	
		margin-top: 53px;
	}
	.slider__title-text-big{
		padding-top: 25px;
		font-weight: 900;
		font-size: 44px;
		line-height: 53px;	
	}
	.slider__title-text-less, .slider__title-text-less-red{
		padding-top: 10px;
		padding-left: 0;
		font-weight: 700;
		font-size: 24px;
		line-height: 28.8px;
	}




}
@media screen and (max-width: 575px){
	.container{
		max-width: 359px;
		margin: 0 auto;
	}
	.header-adaptive-right__contact, .header-adaptive-right__cart, .slider-adaptive-img{
		display: none;
	}
	.slider__text{
		min-height: 363px;
		width: 100%;
		margin-left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.slider__line{
		width: 12px;
		height: 61px;
	}
	.slider__title-text-big{
		font-weight: 900;
		font-size: 38px;
		line-height: 45.6px;
		letter-spacing: 0em;
	}
	.slider__title-text-less, .slider__title-text-less-red{
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0em;
	}
}
