.image-slide {
  border: solid 1px #eaeaea;
  background-color: #f7f7f7;
}
.image-slide {
  background-image: url(../img/single-page/img-slide-girl.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.image-slide-flex {
  display: flex;
  justify-content: space-between;
}
.image-slide__Link-left:hover,
.image-slide__link-right:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.image-slide__arrow-left {
  margin-top: 365px;
  margin-bottom: 365px;
}
.image-slide__arrow-right {
  margin-top: 365px;
  margin-bottom: 365px;
}
.product-descr {
  width: 1141px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  margin-top: -70px;
  text-align: center;
}
.product-descr__categoty {
  padding-top: 73px;
  font-size: 14px;
  font-weight: bold;
  color: $pinc-color;
  text-transform: uppercase;
}
.product-descr__line {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.product-descr__line-grey {
  width: 49px;
  height: 1px;
  background-color: #eaeaea;
}
.product-descr__line-red {
  width: 49px;
  height: 2px;
  margin-top: -1px;
  border: solid 1px #eaeaea;
  background-color: $pinc-color;
}
.product-descr__name {
  padding-top: 18px;
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  text-transform: uppercase;
}
.product-descr__stars {
  padding-top: 24px;
  font-size: 19px;
  color: #f1b746;
}
.product-descr__text {
  padding-top: 26px;
  padding-left: 262px;
  width: 618px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #5e5e5e;
}
.product-descr-flex {
  display: flex;
  justify-content: center;
  padding-top: 28px;
}
.product-descr__material,
.product-descr__designer {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
}
.product-descr__designer {
  padding-left: 44px;
}
.product-descr__material-type,
.product-descr__designer-name {
  color: #2f2f2f;
}
.product-descr__price {
  padding-top: 37px;
  font-size: 24px;
  font-weight: bold;
  color: $pinc-color;
}
.product-descr__hr {
  width: 642px;
  margin-top: 43px;
  color: #eaeaea;
}
.product-descr__choose {
  padding-top: 63px;
}
.product-descr__choose-flex {
  display: flex;
  justify-content: center;
}
.product-descr__choose-block {
  width: 33%;
  margin: 0;
}
.product-descr__choose-block-title {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
}
.product-descr__choose-block-title:nth-child(2) {
  margin-left: -15px;
}
.product-descr__choose-block-title:last-of-type {
  margin-left: -42px;
}
.product-descr__details {
  margin-top: 16px;
  display: flex;
  width: 144px;
  padding: 12px 0 13px 15px;
  margin-left: 130px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}
.product-descr__choose-block-select {
  display: inline-flex;
}
.product-descr__choose-block-select-color {
  margin-top: 6px;
  width: 12px;
  height: 12px;
  background-color: $pinc-color;
}
.product-descr__choose-block-select-color-text {
  padding-left: 11px;
  font-size: 13px;
  line-height: 1.85;
  color: #bcbcbc;
}
.fa-chevron-down {
  margin-left: 67px;
  font-size: 1;
  color: #bcbcbc;
}
.product-descr__button-flex {
  display: flex;
  margin-top: 28px;
  margin-bottom: 122px;
  padding: 16px 206px;
  border: solid 1px $pinc-color;
  background-color: #ffffff;
}
.product-descr__button-img_white {
  display: none;
}
.product-descr__button-text {
  padding-top: 3px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: $pinc-color;
}
.product-descr__button-flex:hover {
  background-color: $pinc-color;
}
.product-descr__button-flex:hover .product-descr__button-img_white {
  display: flex;
}
.product-descr__button-flex:hover .product-descr__button-img {
  display: none;
}
.product-descr__button-flex:hover .product-descr__button-text {
  color: #ffffff;
}
.you-may {
  margin-top: 119px;
}
.you-may__title {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-transform: uppercase;
}
.you-may-card-block {
  margin: 72px 0;
}
.you-may__stars {
  color: #e4af48;
}
