*{
    font-family: 'Lato', sans-serif;
}
.header{
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}
.header-container{
    max-width: 1600px;
    margin: 0 auto;
}
.header-flex{
    display: flex;
    justify-content: space-between;
}
.header-left{
    display: flex;
}
.header-left_logo{
    width: 59px;
    height: 51px;
    padding-top: 25px;
    padding-left: 235px;
}
.header-left_brand{
    padding-left: 13px;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}
span{
    font-weight: 900;
    color: #f16d7f;
}
.header-left_browse{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}
input{
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;  
}
.header-left_search{
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}
.header-right{
    display: flex;
}
.header-right_cart{
    width: 32px;
    height: 29px;
}
.header-right_my-acc{
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
}