body {
  font-family: "Lato", sans-serif;
} 
$pinc-color: #f16d7f;

.container {
  max-width: 1140px;
  margin: 0 auto;
}
@import "header";
@import "main-page";
@import "subscribe";
@import "footer";
@import "breadcrumb";
@import "single-page";
@import "checkout-page";
@import "product-page";
@import "shopping-cart-page";

